.home {
    height: 100vh;
    border-radius: 50%;
    background-color: gray;
}

.text {
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#p1 {
    color: white;
    font-style: italic;
}

#bt {
    background-color: green;
    transition-duration: .4s;
    font-size: 50%;
    background-color: #ffffff;
    border: 2px groove #dd1212;
    border-radius: 16px;
    padding: 16px;
}

#bt:hover {
    background-color: #dd1212;
    transition-duration: .4s;
    border-radius: 50%;
    color: #ffffff;
    cursor: pointer;
}

.text > * {
    font-size: 300%;
}

