{% extends 'base.html.twig' %} 

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/styles/CSS/pokemons.css" /> 
{% endblock %}

{% block body %}

    <ol style="--length: {{count(date)}}" role="list">
        {% for key, pokemon in date %}
            <li style="--i: {{key+1}}">
                {% for key, infoPokemon in pokemon %}
                    <h3>{{infoPokemon["name"]}}</h3>
                    <p>{{infoPokemon["description"]}}</p>
                {% endfor %}
            </li>
        {% endfor %}
    </ol>
{% endblock %}  
